<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lww.springboot_vue_demo.mappers.StudentMapper">  <!--对应接口-->

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into student(name,sex,age,hobby) values (#{name},#{sex},#{age},#{hobby})
    </insert>

    <delete id="deleteById">
        delete from student where id=#{id}
    </delete>

    <update id="updateById">
        update student set name=#{name},sex=#{sex},hobby=#{hobby} where id=#{id}
    </update>

    <select id="selectById" resultType="com.lww.springboot_vue_demo.domain.Student">
    select id,name,sex,age,hobby from student where id=#{id}
    </select>

    <select id="selectAll" resultType="com.lww.springboot_vue_demo.domain.Student">
        select id,name,sex,age,hobby from student
    </select>

    <!--查询结果总条数-->
    <select id="selectCount" resultType="integer">
        select count(*) from student
    </select>


    <!--limit ？ ？的用法，第一个？是从哪条数据开始 默认第一条序号为0
                          第二个？ 是从这条数据开始 显示几条数据-->

    <!--分页查询-->
    <select id="selectByPage" resultType="com.lww.springboot_vue_demo.domain.Student">
        select id,name,sex,age,hobby from student limit #{startData},#{pageSize}
    </select>

</mapper>